@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

  
/* Media Query for low resolution mobile */
@media (min-width: 280px) and (max-width: 767px) {
    #serviceList3 {
        margin-bottom: -45px;
    }
}

  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 620px) and (max-width: 1024px){
    #serviceList3 {
        margin-bottom: -50px;
    }
}

.red {
  @apply text-red-800 
}

.green {
  @apply text-green-800 
}

.blue {
  @apply text-blue-800 
}

.yellow {
  @apply text-yellow-800 
}

.red-bg {
  @apply bg-red-300 text-white font-medium
}

.green-bg {
  @apply bg-green-300 text-white font-medium
}

.yellow-bg {
  @apply bg-yellow-200 text-gray-500 font-medium
}

.blue-bg {
  @apply bg-blue-300 text-white font-medium
}

.slate-bg {
  @apply bg-slate-200 text-gray-700 font-medium
}

.bg-200, .bg-201, .bg-203, .bg-204, .bg-205 {
  @apply bg-green-200
}

.bg-300, .bg-302, .bg-303, .bg-307, .bg-305, .bg-306, .bg-307, .bg-308 {
  @apply bg-blue-200 text-gray-800
}

.bg-400, .bg-401, .bg-403, .bg-404, .bg-405 {
  @apply bg-red-200
}

.bg-500, .bg-501, .bg-502, .bg-503, .bg-504 .bg-505 {
  @apply bg-yellow-200
}

.bg-100, .bg-101, .bg-102 {
  @apply bg-slate-200
}

.text-200 {
  @apply text-green-600
}

.text-307, .text-308, .text-301, .text-302, .text-303, .text-304, .text-305, .text-306, .text-300 {
  @apply text-blue-800
}