@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

  
/* Media Query for low resolution mobile */
@media (min-width: 280px) and (max-width: 767px) {
    #serviceList3 {
        margin-bottom: -45px;
    }
}

  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 620px) and (max-width: 1024px){
    #serviceList3 {
        margin-bottom: -50px;
    }
}

.red {
  @apply text-red-800 
}

.green {
  @apply text-green-800 
}

.blue {
  @apply text-blue-800 
}

.yellow {
  @apply text-yellow-800 
}

.red-bg {
  @apply bg-red-300 text-white font-medium
}

.green-bg {
  @apply bg-green-300 text-white font-medium
}

.yellow-bg {
  @apply bg-yellow-200 text-gray-500 font-medium
}

.blue-bg {
  @apply bg-blue-300 text-white font-medium
}

.slate-bg {
  @apply bg-slate-200 text-gray-700 font-medium
}