@tailwind base;
@tailwind components;
@tailwind utilities;

#buyNow0 {
    margin-top: 40px;
}

#serviceList3 {
    margin-bottom: 0px;
}

#buyNowPackage0 {
    margin-top: 50px;
}

#buyNowPackage1 {
    margin-top: 50px;
}


  
/* Media Query for low resolution mobile */
@media (min-width: 280px) and (max-width: 767px) {
    #serviceList3 {
        margin-bottom: -45px;
    }
}

  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 620px) and (max-width: 1024px){
    #serviceList3 {
        margin-bottom: -50px;
    }
}
  
/* Media Query for Laptops and Desktops */
/* @media (min-width: 1025px) and (max-width: 1280px){
    
} */
  
/* Media Query for Large screens */
/* @media (min-width: 1281px) {
    
} */


p {
    @apply mb-4;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold
      mb-1;
  }
  
  h1 {
    @apply text-3xl my-4 text-slate-600 font-semibold;
  }
  
  h2 {
    @apply text-3xl my-5 text-slate-800 font-semibold;
  }

  h3 {
    @apply text-2xl my-5 text-slate-800 font-semibold;
  }

  h4 {
    @apply text-xl my-4 text-slate-800 font-semibold;
  }

  p {
    @apply text-base text-slate-600
  }
  
  li {
    @apply text-slate-600
  }